version: "3"

services:
    web:
        # locaolhost:12000 で PHP が動く web サーバ
        image: php:8.1-apache
        container_name: example_web
        volumes:
            # 公開ディレクトリをマウント
            - ./app:/var/www/public
            # ログディレクトリをマウント
            - ./logs:/var/www/logs
            # Apache の設定を反映
            - ./conf/apache-vhosts.conf:/etc/apache2/sites-available/000-default.conf
        ports:
            - 12000:80
